.breadcrumb {
    margin: 12px auto;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb li.location+li.location::before {
    content: "> ";
}

.breadcrumb a:hover {
    color: hsla(88, 100%, 25%, 1);
}

.breadcrumb li.attribute {
    color: hsla(0, 0%, 50%, 75%);
}

.breadcrumb li.attribute::after {
    content: " x";
    color: hsl(0, 100%, 50%);
    font-size: 12px;
    vertical-align: super;
}